.DS_Store
.gitignore
.idea/
node_modules/
.idea
reports/
TestResult/
tsDist
coverage
allure-report
lerna-debug.log
testrail.log
yarn-error.log
webtest.log
allure
.vscode/
lib/
reports/*.html
.npm
.eslintcache
